menu "WebServer Auth"

    config WS_AUTH_USERNAME
        string "Admin username"
        default "admin"
        help
            Username for the web interface administrator account.

    config WS_AUTH_PASSWORD
        string "Admin password"
        default "password123"
        help
            Password for the web interface administrator account.
            Change this before deploying to production.

endmenu
